:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: white; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
body{
  /* overflow: hidden; */
  /* background-color: red; */
  /* color: black; */
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  /* overflow: hidden; */
  width: 100%;
  height: fit-content;
  scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth;

}
body.light{
  background-color: white;
  transition: all .3s ease;
}
body.dark{
  background-color: black;
  transition: all .3s ease;

}
button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: linear-gradient(90deg, rgba(207, 57, 2, 0.94) 0%, 
                                    rgba(255, 165, 0, 1 ) 80%);
  border: none;
  background-size: 200% 100%;
  border-radius: 25px;
  animation: Gmove 5s ease infinite;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@keyframes Gmove {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
/* button::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  border-radius: 0% 0% 50% 50% ;
  background-color: black;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all .5s ease-in-out;
}
button:hover::before{
  height: 100%;
  color: white;
  border-radius: 0% 0% 0% 0% ;

}

button:hover{
  color: white;
} */
